<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqx.modules.decision.dao.CitizenInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sqx.modules.decision.entity.CitizenInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="event_id" property="eventId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="standing" property="standing" jdbcType="VARCHAR" />
    <result column="calling_number" property="callingNumber" jdbcType="VARCHAR" />
    <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
    <result column="document_type" property="documentType" jdbcType="VARCHAR" />
    <result column="document_number" property="documentNumber" jdbcType="VARCHAR" />
    <result column="party_member" property="partyMember" jdbcType="VARCHAR" />
    <result column="confidentiality" property="confidentiality" jdbcType="VARCHAR" />
  </resultMap>
</mapper>