.event-details-wrapper {
  .event-details {
    background: #fff;
    border-radius: 8px;
  }

  .memorandum-detail {
    .title {
      font-weight: 500;
      font-size: 15px;
      color: #102F2E;
      line-height: 21px;
      text-align: left;
      font-style: normal;
    }

    .common-instructions {
      font-weight: 400;
      font-size: 14px;
      color: #505050;
      line-height: 20px;
      text-align: left;
      font-style: normal;
    }

    .label {
      font-weight: 400;
      font-size: 14px;
      color: #818181;
      line-height: 20px;
      text-align: left;
      font-style: normal;
    }
  }

  .receiving-unit-value {
    font-weight: 400;
    font-size: 14px;
    color: #1699AD;
    line-height: 20px;
    text-align: left;
    font-style: normal;

    .receiving-unit-value-icon {
      width: 6px;
      height: 4px;
      background: url('@/assets/images/receiving-unit-value.png') 0px 0px no-repeat;
      background-size: 100%;
    }
  }
}