<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqx.modules.decision.dao.EventExtendInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sqx.modules.decision.entity.EventExtendInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="event_id" property="eventId" jdbcType="INTEGER" />
    <result column="trouble_ticket" property="troubleTicket" jdbcType="VARCHAR" />
    <result column="emergency" property="emergency" jdbcType="VARCHAR" />
    <result column="burst_type" property="burstType" jdbcType="VARCHAR" />
    <result column="urban_management_work_order" property="urbanManagementWorkOrder" jdbcType="VARCHAR" />
    <result column="leader_connection" property="leaderConnection" jdbcType="VARCHAR" />
    <result column="reorder" property="reorder" jdbcType="VARCHAR" />
    <result column="first_dispatch_duty_order" property="firstDispatchDutyOrder" jdbcType="VARCHAR" />
    <result column="event_impact" property="eventImpact" jdbcType="VARCHAR" />
    <result column="citizens_ask_reply" property="citizensAskReply" jdbcType="VARCHAR" />
    <result column="reply_note" property="replyNote" jdbcType="VARCHAR" />
    <result column="citizen_note" property="citizenNote" jdbcType="VARCHAR" />
    <result column="note_address" property="noteAddress" jdbcType="VARCHAR" />
    <result column="object_classification" property="objectClassification" jdbcType="VARCHAR" />
    <result column="service_click" property="serviceClick" jdbcType="VARCHAR" />
    <result column="transaction_key" property="transactionKey" jdbcType="VARCHAR" />
  </resultMap>
</mapper>