.audit-center-container {

  .title {
    font-weight: 500;
    font-size: 16px;
    color: #102F2E;
    line-height: 26px;
    text-align: left;
    font-style: normal;
  }

  .fliter-container {
    font-size: 14px;
    color: #767676;
    line-height: 32px;
    text-align: center;
    font-style: normal;

    .filter-item {
      border-radius: 2px;

      &.active {
        background: rgba(22, 153, 173, 0.1);
        color: #1699AD;
      }
    }
  }
}