.title-ground {
  font-weight: 400;
  font-size: 12px;
  color: #BDBDBD;
  line-height: 26px;
  text-align: center;
  font-style: normal;

  .title {
    font-weight: 500;
    font-size: 16px;
    color: #102F2E;
    text-align: left;
    font-style: normal;
  }

  .length {
    color: #1699AD;
  }
}