.home-content {
  position: relative;

  .group_1 {
    background-color: #fff;
    border-radius: 8px;

    .thumbnail_1 {
      width: 21px;
      height: 21px;
    }

    .text-group_1 {
      font-weight: 500;
      font-size: 16px;
      color: #102f2e;
      line-height: 26px;
      font-style: normal;
    }

    .box_2 {
      width: 21px;
      height: 21px;
      background: url('@/assets/images/home_7.png') 0px 0px no-repeat;
      background-size: 100%;
    }

    .image-text_2 {
      width: 102px;
      height: 55px;
      background: linear-gradient(180deg, rgba(231, 242, 243, 0.47) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(271deg, rgba(255, 255, 255, 0.06) 0%, rgba(221, 221, 221, 0.5) 100%);
      box-shadow: 2px 2px 4px 1px rgba(185, 201, 201, 0.16);
      border-radius: 8px;
      border: 1px solid;
      border-image: linear-gradient(215deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 1 1;

      .text-group_2 {
        .text_8 {
          color: rgba(7, 21, 20, 0.6);
          font-size: 12px;
          text-align: left;
          white-space: nowrap;
          line-height: 17px;
        }

        .text_9 {
          font-family: DINAlternate, DINAlternate;
          font-weight: bold;
          font-size: 22px;
          color: #0B2221;
          line-height: 26px;
          text-align: left;
          font-style: normal;
        }
      }

      .thumbnail_2 {
        width: 22px;
        height: 22px;
      }
    }

    .thumbnail_3 {
      width: 25px;
      height: 25px;
    }

    .thumbnail_4 {
      width: 23px;
      height: 23px;
    }

    .group_2 {
      font-weight: 400;
      font-size: 14px;
      color: #1699AD;
      line-height: 20px;
      text-align: left;
      font-style: normal;
    }

    .box_3 {
      font-weight: 400;
      font-size: 14px;
      color: #666666;
      line-height: 20px;
      text-align: left;
      font-style: normal;
      border-bottom: 1px dashed #C8C8C8;

      .text-group_4 {
        height: 19px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        font-style: normal;
      }
    }

    .empty-box {
      background: linear-gradient(180deg, rgba(231, 242, 243, 0.47) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(271deg, rgba(255, 255, 255, 0.06) 0%, rgba(221, 221, 221, 0.5) 100%);
      box-shadow: 2px 2px 4px 1px rgba(185, 201, 201, 0.16);
      border-radius: 8px;
      border: 1px solid;
      border-image: linear-gradient(215deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 1 1;
    }

    .image-text_3 {
      font-weight: 400;
      font-size: 14px;
      color: #666666;
      line-height: 20px;
      text-align: left;
      font-style: normal;
    }

    .group_3 {
      height: 20px;
      background: rgba(166, 170, 170, 0.15);
      border-radius: 11px;
      font-weight: 400;
      font-size: 12px;
      color: #818181;
      line-height: 20px;
      text-align: left;
      font-style: normal;

      &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 9px;
        top: 50%;
        transform: translateY(-50%);
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid #818181;
      }
    }

    .image-text_4 {
      .text-group_5 {
        font-weight: 500;
        font-size: 14px;
        color: #102F2E;
        line-height: 20px;
        text-align: left;
        font-style: normal;
      }

      .text-group_6 {
        font-weight: 500;
        font-size: 12px;
        color: #BDBDBD;
        line-height: 20px;
        text-align: center;
        font-style: normal;
      }

      .block_2 {
        background: #F6F9FA;
        border-radius: 8px;
      }

      .block_3 {
        width: 112px;
        height: 100%;
        border-right: 1px dashed #D5D5D5;
      }

      .text-group_7 {
        font-weight: 500;
        font-size: 14px;
        color: rgba(7, 21, 20, 0.6);
        line-height: 20px;
        text-align: left;
        font-style: normal;
      }

      .text-group_8 {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        font-weight: bold;
        font-size: 20px;
        color: #0B2221;
        line-height: 24px;
        text-align: left;
        font-style: normal;
      }

      .text-group_9 {
        font-weight: 400;
        font-size: 12px;
        color: #BDBDBD;
        line-height: 20px;
        text-align: left;
        font-style: normal;
      }

      .block_4 {
        font-size: 12px;
        color: #666666;
        line-height: 22px;
        text-align: left;
        font-style: normal;
      }

      .text-group_10 {
        max-width: 68px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        font-weight: bold;
        font-size: 20px;
        color: #1699AD;
        line-height: 24px;
        font-style: normal;
      }

      .block_5 {
        width: 86px;
      }

      .border-top {
        border-top: 1px dashed #D5D5D5;
      }


    }

    .thumbnail_5 {
      width: 36px;
      height: 28px;
    }
  }
}