:root {
  --color-text: var(--van-text-color, #323233);
  --color-background-2: rgb(241, 247, 249);
  --color-block-background: var(--van-border-color, #ebedf0);
}

:root:root {
  --van-nav-bar-background: #1777CC;
  --van-nav-bar-title-font-size: 18px;
  --van-nav-bar-title-text-color: #FFFFFF;
  --van-nav-bar-icon-color: #FFFFFF;
  --van-badge-dot-size: 4px;
  --van-picker-confirm-action-color: #1699AD;
  --van-picker-action-font-size: 14px;
  --van-picker-cancel-action-color: #818181;

  // 富文本
  --van-field-text-area-min-height: 144px;
  --van-field-placeholder-text-color: #818181;
}

html.dark {
  --color-text: var(--van-text-color, #f5f5f5);
  --color-background-2: var(--van-background-2, #1c1c1e);
  --color-block-background: var(--van-border-color, #3a3a3c);
}